<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>DOOM</name>
        <version>2.0</version>
        <author>bomberfish</author>
        <id>kdoom2</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
