<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>DOOM</name>
        <version>1.0</version>
        <author>Mercury Workshop</author>
        <id>ca.bomberfish.DOOM</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
